body,
html,
p,
ul,
li{
    margin: 0px;
    padding: 0px;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

.clearfix::after,
.clearfix::before{
    content: "";
    display: block;
    clear: both;
}

li{
    list-style: none;
}